.service {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #BAC6B9;
}
.service-container {
    background-color: #FAFCF8;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 50px;
}
.service-title {
    color: #20454A;
}
.service-title__header {
    font-size: 32px;
    margin: 0 0 10px 0;
}
.service-title__text {
    font-size: 16px;
}
.service-forms {
    color: #20454A;
}
.service-forms__name {
    font-size: 13px;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.service-forms__input {
    border: 1px solid #20454A;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
}
.service-forms__input:first-child {
    margin-bottom: 10px;
}
.service-forms__input::placeholder {
    font-size: 14px;
}
.service-forms__input:focus {
    outline: none;
}
.service-forms {
 margin-top: 40px;
}
.service-forms__button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #456443;
    color: #fff;
    margin-bottom: 10px;
}
.service-forms__button:hover {
    background-color: #395337;
}
.service-forms__button:active {
    background-color: #283b27;
}
.service-info__text {
    color: #20454A;
    font-size: 16px;
    font-weight: 700;
}
.service-info__link {
    color: #20454A;
}
.login-options__text {
    font-size: 11px;
    text-align: center;
}